.button {
  margin-top: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  background-color: var(--btn-color);
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
}

.button:hover,
.button:focus {
  background-color: var(--btn-hover);
}
