.getStartedModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getStartedModalTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
}

.getStartedModalText {
  margin-top: 30px;
  line-height: 1.37;
}
