.headerContainer {
  padding: 20px 40px;
  display: flex;
}

.headerContainer :global(.container) {
  width: 100%;
  display: flex;
  align-items: center;
}

.headerNavigation {
  display: flex;
  margin-right: auto;
}

.headerBtn {
  display: flex;
  gap: 16px;
}

.headerNavList {
  display: flex;
  align-items: center;
  gap: 28px;
}

.logo {
  margin-right: 390px;
}

.headerNavLink {
  line-height: 1.25;
}

.logInBtn {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  font-weight: 700;
  line-height: 1.25;
  background-color: transparent;
  border: none;
  align-items: center;
  align-content: center;
  gap: 8px;
}

.registrBtn {
  padding: 14px 39px;
  display: flex;
  font-weight: 700;
  line-height: 1.25;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  align-items: center;
  align-content: center;
  border-radius: 12px;
}

.logInIcon {
  stroke: var(--accent-color);
}

.themeSelect {
  margin-left: 13px;
  padding: 14px 39px;
  font-weight: 700;
  line-height: 1.25;

  background-color: var(--text-color);
  color: var(--background-color);

  border: none;
  border-radius: 12px;
  cursor: pointer;

  /* убираем стандартный вид */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* добавляем стрелку */
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='white' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  padding-right: 50px;

  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.themeSelect:hover,
.themeSelect:focus {
  background-color: var(--btn-hover);
  transform: scale(1.03);
  outline: none;
}
