.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding: 24px;
  z-index: 1000;
}
.modalContent {
  background: var(--background-color);
  border-radius: 30px;
  padding: 64px;
  position: relative;
  width: 100%;
  max-width: 560px;
  max-height: calc(100vh - 48px);
  overflow-y: auto;
  margin: auto 0;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  transition: transform 0.2s ease;
}

.modalCloseBtnIcon {
  stroke: black;
}

.closeBtn:hover,
.closeBtn:focus {
  transform: scale(1.1);
}
