/* Modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background: var(--background-color);
  border-radius: 30px;
  padding: 64px;
  position: relative;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  transition: transform 0.2s ease;
}

.modalCloseBtnIcon {
  stroke: black;
}

.closeBtn:hover,
.closeBtn:focus {
  transform: scale(1.1);
}
