:root {
  --text-color: #121417;
  --filter-title-color: #8a8a89;
  --btn-color: #ffdc86;
  --btn-hover: #f4c550;
  --main-page-card-background-color: #f8f8f8;
  --background-color: #ffffff;
  --pale-yellow: #fbe9ba;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
